<!doctype html>
{% load static %}
<html lang="es-cl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body>
    {% url 'home' as home_ulr %} {% url 'equipos' as equipos_url %} {% url 'jugadores' as jugadores_url %} {% url 'entrenador' as entrenador_url %} {% url 'partido' as partido_url %}
    <title>Taller 2</title>
    <div class='container'>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="{% url 'team:index' %}"><i class="material-icons">home</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == equipos_url %} active {%endif%}" href="{% url 'team:equipos' %}">Teams <i class='material-icons'>group</i></a>
                    </li>
                    <li class=" nav-item ">
                        <a class="nav-link {% if request.path == jugadores_url %} active {%endif%}" href="{% url 'team:jugadores' %}">Jugadores <i class='material-icons'>group</i></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if request.path == entrenador_url %} active {%endif%}" href="{% url 'team:entrenador' %} ">Coach<i class="material-icons ">directions_run</i></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if request.path == partido_url %} active {%endif%}" href="{% url 'team:partido' %}">Match <i class='material-icons'>people_outline</i></a>
                    </li>                   
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <p >Hola {{user_type}} <strong>{{name}}</strong> <a class="blanco" href="{% url 'auth:logout' %}">Logout<i class='material-icons '>pool</i></a></p>
                    </li>
               </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <!--Breadcrumb-->
        {% block breadcrumbs %}{% endblock %}
         <!-- Block Content -->
        {% block content %}{% endblock %}

        <footer class="page-footer font-small blue ">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
                <a href="# "> uwu company ! </a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>