{% extends 'base.html' %}
<!--Breadcrumb-->
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'team:index' %}">Home</a> &rsaquo; <a href="#">Equipo</a>
</div>
{% endblock %}
<br> {% block content %}

<HR width="60%">
<div class="container">
    {% if user_type == 'ADMIN' %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h3>Agregar nuevo Coach</h>
        </div>

    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div>
                <a href="{% url 'team:cadd' %}"><button type="button" class="btn btn-info">AGREGAR</button></a>
            </div>
        </div>
    </div>
    {% endif %}
    <hr width="20%">
    <div class="row">
        <div class="col-12">

            <table class="table table-dark ">
                <thead>
                    <tr>
                        <th scope="col">Entrenadores y sus equipos</th>
                        
                    </tr>
                </thead>
                {% if perms.team.view_coach %}
                <tbody>
                    
                    {% for team in Teams  %}
                        
                        {% if team.coachRut.user.username == name %}
                        <td>{{name}}--->{{team.teamName}}</td>
                            
                        {% endif %}
                            
                    {% endfor %}
                        
                    
                </tbody>

                {% endif %}

                {%if user_type == 'ADMIN'%}
                <tbody>
                    {% for team in Teams %}
                    {% for coach in Coaches %} 
                    <tr>
                            <div class="col-5">
                                {% if team.coachRut.user.username == coach.user.username %}
                                <td>{{coach.user.username}}--->{{team.teamName}}</td>
                            </div>
                            <div class="col-1">
                                <td class="text-right">
                                    <a href="{% url 'team:cdel' coach.pk %}" class="fas fa-trash-alt " style="color:tomato;font-size: 25px;padding-right: 10px; "></a>
                                    <a href="{% url 'team:cup' coach.pk %}"><i class="fas fa-edit " style=" color:yellowgreen; font-size: 25px; "></i></a>
                                </td>
                                
                                {% endif %} 
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    
                </tbody>
            {% endif %}    
            </table>
            
            <div class="pagination">
                <span class="step-links">
        {% if Coaches.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ Coaches.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ Coaches.number }} of {{ Coaches.paginator.num_pages }}.
        </span> {% if Coaches.has_next %}
                <a href="?page={{ Coaches.next_page_number }}">next</a>
                <a href="?page={{ Coaches.paginator.num_pages }}">last &raquo;</a> {% endif %}
                </span>
            </div>

        </div>
    </div>
    {% endblock content %}