{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<form action="" method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_form coach_extend %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
   Submit
  </button>
  {% endbuttons %}
</form>

{% endblock %}