{% extends 'base.html' %}
{% block content %}

<p>¿Estas seguro de eliminar a <strong> {{coach.id}}</strong>?</p>
<form class="" method="post">
    {% csrf_token %}

    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</button>

    <a href="{% url 'team:equipos' %}" class="btn btn-light">Cancelar</a>
</form>


{% endblock %}