{% extends 'base.html' %} 

{% block content %}
{% load bootstrap4 %}

<h5 style="background-color: tomato ;">profe cuando cree a un coach, hay que asignarle el permiso de coach view desde el admin</h2>

<form action="" method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_form coach_extend %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
   Submit
  </button>
  {% endbuttons %}
</form>


{% endblock %}