{% extends 'base.html' %}

<!--Breadcrumb-->
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'team:index' %}">Home</a>
</div>
{% endblock %}
<br> {% block content %}

<div class="row">
<div class="col-8">
    <HR width="80%">
        <div class="zerotable">
            <table class="table table-dark ">
                <thead>
                    <tr>
                        <th scope="col"><a href="{% url 'team:entrenador' %}"> Últimos 3 partidos jugados</a></th>
        
                    </tr>
                </thead>
                <tbody>
                   <!-- Si es coach -->
                   {% if perms.team.view_coach %}
                   {% for match in lastFiveMatches %}
                       <tr>
                            {% if player.team.coachRut.user.username == name %}
                               <td>{{ team.matchName }}</td>
                               </div>
        
                           {% endif %}
                       </tr>
            
                    {% endfor %}
                    {% endif %}
        
                    {% if user_type == 'ADMIN' %}
                    {% for match in lastFiveMatches %}
                        <tr>    
                            <td>{{ team.matchName }}</td>
                        </tr>
                                {% endfor %}
                        {% endif %}
        
        
                </tbody>
            </table>
            
            <div class="pagineitor">
                <span class="step-links">
                    {% if lastFiveMatches.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ lastFiveMatches.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ lastFiveMatches.number }} of {{ lastFiveMatches.paginator.num_pages }}.
                    </span> {% if lastFiveMatches.has_next %}
                <a href="?page={{ lastFiveMatches.next_page_number }}">next</a>
                <a href="?page={{ lastFiveMatches.paginator.num_pages }}">last &raquo;</a> {% endif %}
                </span>
            </div>
        </div>
        
        
        <table class="table table-dark">
            <thead>
                <th scope="col"><a href="{% url 'team:partido' %}">Ultimos 3 jugadores incorporados </a></th>
            </thead>
            <tbody>
            <!-- si es coach -->
            {% if perms.team.view_coach %}
            {% for player in lastFivePlayers %}
                <tr>
                    {% if player.team.coachRut.user.username == name %}
                        <td>{{ player.playerName }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
                
        <!-- si es admin -->
            {% if user_type == 'ADMIN' %}
            {% for player in lastFivePlayers %}
                <tr>
                    <td>{{ player.playerName }}</td>
                </tr>
                    {% endfor %}
            {% endif %}
            </tbody>
        </table>
            
        <div class="firsttable__pagination">
            <span class="step-links">
            {% if lastFivePlayers.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ lastFivePlayers.previous_page_number }}">previous</a>
            {% endif %}
        
            <span class="current">
                Page {{ lastFivePlayers.number }} of {{ lastFivePlayers.paginator.num_pages }}.
            </span> {% if lastFivePlayers.has_next %}
            <a href="?page={{ lastFivePlayers.next_page_number }}">next</a>
            <a href="?page={{ lastFivePlayers.paginator.num_pages }}">last &raquo;</a> {% endif %}
            </span>
        </div>

        {%if user_type == 'ADMIN'%}
        <table class="table table-dark ">
            <thead>
                <tr>
                    <th scope="col">Equipos con sus jugadores</th>
                </tr>
            </thead>
                <tbody>
                    
                    {% for coach in lastThreeCoaches %} 
                    <tr>
                        <td>{{coach.user.username}}--->{{team.teamName}}</td>
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
            </table>
            {% endif %}    
</div>

<div class="col-3">
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'team:equipos' %}">Listar equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'team:jugadores' %}">Listar Jugadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'team:partido' %}">Listar partidos
          </li>
        </ul>
      </nav>
</div>
</div>


{% endblock content %}