{% extends 'base.html' %}
<!--Breadcrumb-->
{% load i18n %} {% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'team:index' %}">Home</a> &rsaquo; <a href="#">Partido</a>
</div>
{% endblock %}
<br> {% block content %}

<HR width="80%">
<table class="table table-dark ">
    <thead>
        <tr>
            <th scope="col">Equipos con sus jugadores</th>

        </tr>
    </thead>
    <tbody>

        {% for game in games %}
        <tr>
            <td>{{ game.matchName }} | {{game.date}} | Match: {{game.team1}} vs {{game.team2}}</td>

        </tr>
        {% endfor %}

    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if games.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ games.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ games.number }} of {{ games.paginator.num_pages }}.
        </span> {% if games.has_next %}
    <a href="?page={{ games.next_page_number }}">next</a>
    <a href="?page={{ games.paginator.num_pages }}">last &raquo;</a> {% endif %}
    </span>
</div>
{% endblock content %}