{% extends 'base.html' %}

<!--Breadcrumb-->
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'team:index' %}">Home</a> &rsaquo; <a href="#">Jugadores</a>
</div>
{% endblock %}
<br> {% block content %}

{% if user_type == 'ADMIN' %}
<HR width="80%">
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h3>Agregar nuevo Jugador</h>
        </div>

    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div>
                <a href="{% url 'team:jadd' %}"><button type="button" class="btn btn-info">AGREGAR</button></a>
            </div>
        </div>
    </div>
    {% endif %}
    <hr width="20%">
    <div class="row">
        <div class="col-12">
            <table class="table table-dark ">
                <thead>
                    <tr>
                        <th scope="col">Equipos con sus jugadores</th>
                    </tr>
                </thead>

                {% if perms.team.view_coach %}
                <tbody>
                    <tr>
                    {% for team in Teams  %}
                    {% if team.coachRut.user.username == name %}                            
                        {% for player in Players %}
                        {% if player.team == team %}
                       <td> 
                           <p style="color:white">
                            {{player.playerName}}
                            <a href="{% url 'team:jdel' player.pk %}" class="fas fa-user-times" style="color:rgb(201, 40, 40);"></a>
                            <a href="{% url 'team:jup' player.pk %}" class="fas fa-user-edit" style="color:cyan ;"></a>
                            </p>
                        </td>
                        {% endif %} 
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
                {% endif %}

                {%if user_type == 'ADMIN'%}
                <tbody>
                    {% for team in Teams %}
                    <tr>
                        <td>
                            <p>

                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{team.teamName}}" aria-expanded="false" aria-controls="collapseExample">
                                {{team.teamName}}
                                </button>
                            </p>
                            <div class="collapse" id="{{team.teamName}}">
                                <div>
                                    {% for player in Players %}
                                    {% if player.team == team %}
                                    <p style="color:black">
                                        {{player.playerName}}
                                        <a href="{% url 'team:jdel' player.pk %}" class="fas fa-user-times" style="color:rgb(201, 40, 40);"></a>
                                        <a href="{% url 'team:jup' player.pk %}" class="fas fa-user-edit" style="color:cyan ;"></a>
                                    </p>
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}    
            </table>

        </div>
    </div>
</div>


<div class="pagination ">
    <span class="step-links ">
        {% if Players.has_previous %}
            <a href="?page=1 ">&laquo; first</a>
            <a href="?page={{ Players.previous_page_number }} ">previous</a>
        {% endif %}

        <span class="current ">
            Page {{ Players.number }} of {{ Players.paginator.num_pages }}.
        </span> {% if Players.has_next %}
    <a href="?page={{ Players.next_page_number }} ">next</a>
    <a href="?page={{ Players.paginator.num_pages }} ">last &raquo;</a> {% endif %}
    </span>
</div>
{% endblock content %}t %}