{% extends 'base.html' %} {% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'team:index' %}">Home</a> &rsaquo; <a href="#">Teams</a>
</div>
{% endblock %}
<br> {% block content %}
<hr width="80%">

{% if user_type == 'ADMIN' %}
<div class=" container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h3>Agregar nuevo equipo</h>
        </div>

    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div>
                <a href="{% url 'team:eadd' %}"><button type="button" class="btn btn-info">AGREGAR</button></a>
            </div>
        </div>
    </div>
    <hr width="20%">
    <div class="row ">
{% endif %}

        <div class="col-12 ">
            <table class="table table-dark ">
                <thead>
                    <tr>
                        <th scope="col ">Todos los equipos con paginación</th>

                    </tr>
                </thead>
                <tbody>

   <!-- Si es coach -->
        <!-- {% if perms.team.view_coach %} -->
        {% for team in allTeam %}
            <tr>
                <div class="row">
                {% if team.coachRut.user.username == name %}
                    <div class="col-11">
                        <td>{{ team.teamName }} </td>
                    </div>
                    <div class="col-1">
                        <td class="text-right">
                            <a href="{% url 'team:edel' team.pk %}"><i class="fas fa-trash-alt " style="color:tomato;font-size: 25px;padding-right: 10px; "></i></a>
                            <a href="{% url 'team:eup' team.pk %}"><i class="fas fa-edit " style=" color:yellowgreen; font-size: 25px; "></i></a>
                        </td>
                    </div>
                </div>
                {% endif %}
            </tr>
 
         {% endfor %}
         {% endif %}
         
<!-- si es admin -->
                {% if user_type == 'ADMIN' %}
                    {% for team in allTeam %}
                    <tr>
                        <div class="row">
                            <div class="col-11  ">
                                <td>{{ team.teamName }}</td>
                            </div>
                            <div class="col-1">
                                <td class="text-right">
                                    <a href="{% url 'team:edel' team.pk %}" class="fas fa-trash-alt " style="color:tomato;font-size: 25px;padding-right: 10px; "></a>
                                    <a href="{% url 'team:eup' team.pk %}"><i class="fas fa-edit " style=" color:yellowgreen; font-size: 25px; "></i></a>
                                </td>
                            </div>
                        </div>
                    </tr>
                        {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <div class="pagination ">
            <span class="step-links ">
        {% if allTeam.has_previous %}
            <a href="?page=1 ">&laquo; first</a>
            <a href="?page={{ allTeam.previous_page_number }} ">previous</a>
        {% endif %}

        <span class="current ">
            Page {{ allTeam.number }} of {{ allTeam.paginator.num_pages }}.
        </span> {% if allTeam.has_next %}
            <a href="?page={{ allTeam.next_page_number }} ">next</a>
            <a href="?page={{ allTeam.paginator.num_pages }} ">last &raquo;</a> {% endif %}
            </span>
        </div>
    </div>


</div>{% endblock content %}